
@{
    ViewBag.Title = "UnAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UnAuthorized</h2>

<p>Oops,, you cannot acces this page..get the hell out..</p>

<div>
    @Html.ActionLink("Back to Main", "Welcome", "Home")
</div>
