<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> 
<script type="text/javascript">
    $(document).ready(function () {
        $('#searchTxt').autocomplete({
            minLength: 1,
            source: function (request, response) {
                $.ajax({
                    url: "/SocialNetwork/GetFriendsListCtrl",
                    type: "post",
                    dataType: "json",
                    data: { searchFriendText: request.term },
                    success: function (data) {
                        response(data);
                    }
                });
            }
        })
        .autocomplete('instance')._renderItem = function (ul, item) {
            var ss = "../.." + item.imageUrl;
            return $('<li>')
            .append('<img src=' + ss + '/>')
            .append('<a>' + item.firstName + '' + '</a>')
            .append('<a>' + item.lastName + '</a>')
            .append('<input type="button" id="btn_addFriend" value="Add" onclick="show('+ item.UserInfoID +')" />')
            .appendTo(ul);
        };
    });
</script>
<script>
    function show(n) {
        $('#confirm_addFriend').css({
            visibility:'visible',
            left: (($(window).width() - $('#confirm_addFriend').width()) / 2),
            top: (($(window).height() - $('#confirm_addFriend').height()) / 2),
            zIndex: 50,
        });
        $('<div id="overlay2">').css({
            width: $(document).width(),
            height: $(document).height(),
            opacity: 0.6,
            position: 'fixed',
            top: 0,
            left: 0,
            backgroundColor: 'black',
            zIndex: 40
        }).appendTo('body').click(function () {
            $(this).remove();
            $('#confirm_addFriend').css("visibility", "hidden");
        });

        $('#btn_addFriendYes,#btn_addFriendNo').click(function () {
            $('#confirm_addFriend').css({
                visibility: 'hidden'
            });
            $('#overlay2').remove();
        });

        $('#btn_addFriendYes').click(function () {
            $.ajax({
                type: 'POST',
                url: '/SocialNetwork/AddFriendRequest',
                dataType: 'json',
                data: {
                    RequestFrom: '',
                    RequestDate: '',
                    RequestMessage: $('#txt_addMessage').val(),
                    RequestStatus: '',
                    MeOnLine: '',
                    FriendOnLine: '',
                    UserInfoID:n
                },
                success: function (data) {
                }
            });
        });
    }
</script>

<b>Search: </b><input type="text" id="searchTxt" class="search"/>
<div id="confirm_addFriend" style="visibility:hidden;width:20vw;height:15vw;position:fixed;background-color:white;text-align:center;padding-top:4vw;">
    <p>Request Message:</p>
    <textarea id="txt_addMessage" rows="4" cols="50">Hello, can u add me as your friend?</textarea><br/>
    <button id="btn_addFriendYes">Add</button>
    <button id="btn_addFriendNo">Cancel</button>
</div>
