<div>
    <table>
        <tr>
            <td>
                <label class="smallCircle">Title:</label>
            </td>
            <td>
                <input type="text" class="form-controll" ng-model="BackgroundInfoModel.title" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="smallCircle">Type:</label>
            </td>
            <td>
                <select ng-model="BackgroundInfoModel.type" class="form-controll">
                    <option style="font-size:1vw;" value="1">Education</option>
                    <option style="font-size:1vw;" value="2">Work</option>
                    <option style="font-size:1vw;" value="3">Volunteer</option>
                    <option style="font-size:1vw;"qq value="4">Internship</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label class="smallCircle">Start Date:</label>
            </td>
            <td>
                <input type="date" class="form-controll" ng-model="BackgroundInfoModel.startDate" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="smallCircle">End Date:</label>
            </td>
            <td>
                <input type="date" class="form-controll" ng-model="BackgroundInfoModel.endDate" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="smallCircle">Description:</label>
            </td>
            <td>
                <input type="text" class="form-controll" ng-model="BackgroundInfoModel.description" />
            </td>
        </tr>
        <tr>
            <td>               
            </td>
            <td>
                <button type="button" ng-click="AddBackgroundInfo();" class="btnn btn-primary">Save</button>
                <button type="button" ng-click="Cancel();" class="btnn btn-primary">Cancel</button>
            </td>
        </tr>

    </table>
</div>

