<div>
    <table>
        <tr>
            <td>
                <strong>Title:</strong>
            </td>
            <td>
                <input type="text" class="form-control" ng-model="BackgroundInfoModel.title" />
            </td>
        </tr>
        <tr>
            <td>
                <strong>Type:</strong>
            </td>
            <td>
                <select ng-model="BackgroundInfoModel.type" class="form-control">
                    <option value="1">Education</option>
                    <option value="2">Work</option>
                    <option value="3">Volunteer</option>
                    <option value="4">Internship</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Start Date:</strong>
            </td>
            <td>
                <input type="date" class="form-control" ng-model="BackgroundInfoModel.startDate" />
            </td>
        </tr>
        <tr>
            <td>
                <strong>End Date:</strong>
            </td>
            <td>
                <input type="date" class="form-control" ng-model="BackgroundInfoModel.endDate" />
            </td>
        </tr>
        <tr>
            <td>
                <strong>Description:</strong>
            </td>
            <td>
                <input type="text" class="form-control" ng-model="BackgroundInfoModel.description" />
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" ng-click="AddBackgroundInfo();" class="btn btn-primary">Save</button>
            </td>
            <td>
                <button type="button" ng-click="Cancel();" class="btn btn-primary">Cancel</button>
            </td>
        </tr>

    </table>
</div>

