<div style="position:absolute;left:2.5vw;top:2vw;">
    <table>
        <tr>
            <td>
                <label class="bigCircleT">Head Image:</label>
            </td>
            <td>
                <input type="file" class="formi-control" ng-model="PersonalDetailsModel.imageUrl" />
            </td>
        </tr>

        <tr>
            <td>
                <label class="bigCircleT">First Name:</label>
            </td>
            <td>
                <input type="text" class="formi-control" ng-model="PersonalDetailsModel.firstName" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="bigCircleT">Last Name:</label>
            </td>
            <td>
                <input type="text" class="formi-control" ng-model="PersonalDetailsModel.lastName" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="bigCircleT">Contact Number:</label>
            </td>
            <td>
                <input type="text" class="formi-control" ng-model="PersonalDetailsModel.contactNumber" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="bigCircleT">Profession:</label>
            </td>
            <td>
                <input type="text" class="formi-control" ng-model="PersonalDetailsModel.profession" />
            </td>
        </tr>

        <tr>
            <td>
                <label class="bigCircleT">Current City:</label>
            </td>
            <td>
                <input type="text" class="formi-control" ng-model="PersonalDetailsModel.currentCity" />
            </td>
        </tr>

        <tr>
            <td>
                <label class="bigCircleT">Current Country:</label>
            </td>
            <td>
                <input type="text" class="formi-control" ng-model="PersonalDetailsModel.currentCountry" />
            </td>
        </tr>

        <tr>
            <td>
                <label class="bigCircleT">Date Of Birth:</label>
            </td>
            <td>
                <input type="date" class="formi-control" ng-model="realdate" />
            </td>
        </tr>
    </table>
    <button type="button" ng-click="AddPersonalInfo();" class="btnnn btn-primary">Save</button>
    <button type="button" ng-click="Cancel();" class="btnnn btn-primary">Cancel</button>
</div>
