<div style="position:absolute;left:0.5vw;top:2vw;">
    <table>
        <tr>
            <td>
                <label class="smallCircleC">Title: </label>
            </td>
            <td>
                <input type="text" class="formc-controll" ng-model="CurrentPositionModel.title" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="smallCircleC">Type:</label>
            </td>
            <td>
                <select class="formc-controll" ng-model="CurrentPositionModel.type">
                    <option value="" style="font-size:1vw;"><p class="formc-control">--Select --</p></option>
                    <option style="font-size:1vw;" ng-repeat="type in Types" value="{{type.Id}}" ng-selected="type.Id == CurrentPositionModel.type"><p class="formc-control">{{type.Name}}</p></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label class="smallCircleC">Start Date:</label>
            </td>
            <td>
                <input type="date" class="formc-controll" ng-model="CurrentPositionModel.startDate" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="smallCircleC">Description:</label>
            </td>
            <td>
                <input type="text" class="formc-controll" ng-model="CurrentPositionModel.description" />
            </td>
        </tr>
    </table>
    <button style="margin-top:0.5vw;" type="button" ng-click="UpdateCurrentPosition();" class="btnn btn-primary">Update</button>
    <button style="margin-top:0.5vw;" type="button" ng-click="Cancel();" class="btnn btn-primary">Cancel</button>
</div>



@*<script type="text/javascript">
    $(document).ready(function () {
        $.zoomooz.setup({ nativeanimation: true, debug: false });
        $(".cd-horizontal-timeline").click(function (evt) {
            if (evt.target !== this)
                return;
            evt.stopPropagation();
            $(this).zoomTo({ duration: 1000, targetsize: 0.6 });

        })
    });
</script>*@