<div style="position:absolute;top:1.5vw;">
    <table style="margin-left:1.5vw;margin-right:0.5vw;">
        <tr>
            <td>
                <label class="smallCircleCC">Search: </label>
            </td>
            <td>
                <input class="formd-controll" type="text" ng-model="searchString" ng-change="GetJobTitles()" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="smallCircleCC">Job Title: </label>
            </td>
            <td>
                <select class="formd-controll" id="ddl_titles" ng-model="noc" ng-change="getTitleName();GetSomeDuties(); GetSomeRequirements()">
                    <option value="" style="font-size:1vw;">Choose title</option>
                    <option style="font-size:1vw;" data-ng-repeat="title in titleList" value="{{ title.NocCode }}">{{ title.Titl }}  </option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="padding-top:0.5vw">
                <lablel class="smallCircleCC"> Duties: </lablel>
            </td>
            <td>
                <ul>
                    <li data-ng-repeat="duty in dutyList">
                        <label class="smallCircleCCC">{{duty.Titl}}</label>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td style="padding-top:0.5vw; padding-bottom:0.5vw">
                <label class="smallCircleCC"> Requirements:</label>
            </td>
            <td>
                <ul>
                    <li data-ng-repeat="requirement in requirementList">
                        <label class="smallCircleCCC">{{requirement.Req}}</label>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <label class="smallCircleCC"> Company Name: </label>
            </td>
            <td>
                <input type="text" class="formd-controll" ng-model="dreamJobModel.companyName" />
            </td>
        </tr>

        <tr>
            <td>
                <span><label class="smallCircleCC"> Start Date:</label></span>
            </td>
            <td>
                <input type="date" class="formd-controll" ng-model="dreamJobModel.startDate" />
            </td>
        </tr>

        <tr>
            <td style="padding-top:0.3vw;">
                <button type="button" id="drjeditSave" ng-click="AddDreamJobToTable();" class="btnc btn-primary">Save</button>
            </td>
            <td>
                <button type="button" id="drjeditCancel" ng-click="Cancel();" class="btnc btn-primary">Cancel</button>
            </td>
        </tr>
    </table>
</div>

@*<script>
    $("#example-basic").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        autoFocus: true
    });
</script>*@