
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderSection{
    @Scripts.Render("~/bundles/timeline")
    @Styles.Render("~/Content/timeline")
}

<h2>Profile</h2><br/>
@Html.Partial("TimeLinePartial")

