<div ng-show="!isEmpty(DreamJobModel)" style="position:absolute;left:1vw;top:1.5vw;">
    <table>
        <tr>
            <td><label class="smallCircleCC">Company:</label> </td>
            <td><label class="smallCircleCC">{{ DreamJobModel.companyName}}</label></td>
        </tr>
        <tr>
            <td><label class="smallCircleCC">Title:</label></td>
            <td><label class="smallCircleCC">{{ DreamJobModel.position }}</label></td>
        </tr>
        <tr>
            <td><label class="smallCircleCC">Start Date:</label></td>
            <td><label class="smallCircleCC">{{ DreamJobModel.startDate }}</label></td>
        </tr>
        <tr>
            <td><label class="smallCircleCC" style="margin-bottom:1.3vw;">Description:&nbsp;</label></td>
            <td><label class="smallCircleCC" style="text-align:left;">{{ DreamJobModel.description }}</label></td>
        </tr>
    </table>
    <button ng-click="DeleteDreamJob(DreamJobModel.ID)" class="btnn btn-primary">Delete</button>
</div>
<p ng-show="isEmpty(DreamJobModel)" class="noData">No dream job is set up Click <a ui-sref="AddDreamJob">here</a> to set your dream job!</p>

