@*<div id="bbbb" data-ng-repeat="bi in BackgroundInfoList">
    <h2>{{ bi.title }}</h2>
    <em>{{ bi.startDate }} - {{ bi.endDate }}</em>
    <p>
        {{ bi.description }}
    </p>
    <button type="button" ng-click="EditBackgroundInfo(bi.ID);" class="btn btn-primary">Edit</button>
    <button type="button" ng-click="DeleteBackgroundInfo(bi.ID);" class="btn btn-primary">Delete</button>
</div>*@
<div>
    <button type="button" id="btn_viewtl" class="btn btn-primary  btnzoom">View TimeLine</button>
</div>
<script>

    $('#btn_viewtl').click(function () {
        $('#main_timeline').css("visibility", "visible");
        $('<div id="overlay">').css({
            width: $(document).width(),
            height: $(document).height(),
            opacity: 0.6,
            position: 'fixed',
            top: 0,
            left: 0,
            backgroundColor: 'black',
            zIndex: 40
        }).appendTo('body').click(function () {
            $(this).remove();
            $('#main_timeline').css("visibility", "hidden");
        });
    });
</script>
        

<script type="text/javascript">
    $(document).ready(function () {
        $.zoomooz.setup({ nativeanimation: true, debug: false });
        $(".test").click(function (evt) {
            if (evt.target !== this)
                return;
            evt.stopPropagation();
            $(this).zoomTo({ duration: 1000, targetsize: 0.6 });

        })
    });
</script>