<div ng-show="!isEmpty(PersonalDetailsModel)">
    <table>
        <tr>
            <td><img alt="No Image" style="width:20vw; height:15vw;" ng-src="@Url.Content("{{ PersonalDetailsModel.imageUrl }}")" /></td>
        </tr>
        <tr>
            <td>{{ PersonalDetailsModel.firstName + " " +  PersonalDetailsModel.lastName }}</td>
        </tr>
        <tr></tr>
        <tr>
            <td>{{ PersonalDetailsModel.profession }}</td>
        </tr>
    </table>
    <button type="button" ng-click="Edit();" class="btn btn-primary">Edit</button>
</div>
<p ng-show="isEmpty(PersonalDetailsModel)">There is no profile yet. Click <a ui-sref="AddInfo">here</a> to create your own profile!</p>




