<div>
    <img src="~/Images/Ambox_clock.png" style="width:4vw; height:4vw;"/><br/>
    <button type="button" id="btn_viewtl" class="btnn btn-primary">View TimeLine</button>
</div>
<script>
    $('#btn_viewtl').click(function () {
        $('#main_timeline').css("visibility", "visible");
        $('<div id="overlay">').css({
            width: $(document).width(),
            height: $(document).height(),
            opacity: 0.6,
            position: 'fixed',
            top: 0,
            left: 0,
            backgroundColor: 'black',
            zIndex: 40
        }).appendTo('body').click(function () {
            $(this).remove();
            $('#main_timeline').css("visibility", "hidden");
        });
    });
</script>
        

<script type="text/javascript">
    $(document).ready(function () {
        $.zoomooz.setup({ nativeanimation: true, debug: false });
        $(".test").click(function (evt) {
            if (evt.target !== this)
                return;
            evt.stopPropagation();
            $(this).zoomTo({ duration: 1000, targetsize: 0.6 });
        })
    });
</script>