<div id="bbbb" data-ng-repeat="bi in BackgroundInfoList">
    <h2>{{ bi.title }}</h2>
    <em>{{ bi.startDate }} - {{ bi.endDate }}</em>
    <p>
        {{ bi.description }}
    </p>
    <button type="button" ng-click="EditBackgroundInfo(bi.ID);" class="btn btn-primary">Edit</button>
    <button type="button" ng-click="DeleteBackgroundInfo(bi.ID);" class="btn btn-primary">Delete</button>
</div>
        

